.aside-userlist-component {
	// margin-top: 11px;
}
.aside-user-single-component {
	color: #fff;
	margin-top: 11px;
	background-color: #7b8c94;
	padding: 12px;
	cursor: pointer;
}
.active {
	border-left : 5px solid #26a69a;
}